<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Cordero Con Piel De Lobo</mat-card-title>
    <mat-card-subtitle>Rose</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="../../../../assets/corderoconpieldeloborose.png"
      class="imgcatalogo"
    />
  </mat-card-title-group>
  <mat-card-content>
    100% Cabernet Franc | Vale Los Árboles Uco. As uvas para este vinho vêm do
    sopé da Cordilheira dos Andes. Vindima manual em contentores de 12 kg e
    realizada durante as primeiras horas da manhã para garantir que as uvas
    chegam à adega a baixas temperaturas.
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Cordero Con Piel De Lobo</mat-card-title>
    <mat-card-subtitle>Malbec</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="../../../../assets/corderoconpieldelobomalbec.png"
      class="imgcatalogo"
    />
  </mat-card-title-group>
  <mat-card-content>
    100% Malbec | As uvas para este vinho vêm do sopé da Cordilheira dos Andes.
    Vindima manual em contentores de 12 kg e realizada durante as primeiras
    horas da manhã para garantir que as uvas chegam à adega a baixas
    temperaturas.
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Cordero Con Piel De Lobo</mat-card-title>
    <mat-card-subtitle>Chardonnay</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="../../../../assets/corderoconpieldelobchardoonnay.png"
      class="imgcatalogo"
    />
  </mat-card-title-group>
  <mat-card-content>
    50% Chardonnay, Agrelo | PErdriel. As uvas para este vinho vêm do sopé da
    Cordilheira dos Andes. Vindima manual em contentores de 12 kg e realizada
    durante as primeiras horas da manhã para garantir que as uvas chegam à adega
    a baixas temperaturas
  </mat-card-content>
</mat-card>
