<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Cordero Con Piel De Lobo</mat-card-title>
    <mat-card-subtitle>Rose</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="../../../../assets/corderoconpieldeloborose.png"
      class="imgcatalogo"
    />
  </mat-card-title-group>
  <mat-card-content>
    100% Cabernet Franc <br />
    <p>As uvas para este vinho vêm do sopé da Cordilheira dos Andes.</p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Cordero Con Piel De Lobo</mat-card-title>
    <mat-card-subtitle>Malbec</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="../../../../assets/corderoconpieldelobomalbec.png"
      class="imgcatalogo"
    />
  </mat-card-title-group>
  <mat-card-content>
    100% Malbec <br />
    <p>As uvas para este vinho vêm do sopé da Cordilheira dos Andes.</p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Cordero Con Piel De Lobo</mat-card-title>
    <mat-card-subtitle>Chardonnay</mat-card-subtitle>
    <img
      mat-card-lg-image
      src="../../../../assets/corderoconpieldelobchardoonnay.png"
      class="imgcatalogo"
    />
  </mat-card-title-group>
  <mat-card-content>
    50% Chardonnay Agrelo <br />
    <p>As uvas para este vinho vêm do sopé da Cordilheira dos Andes.</p>
  </mat-card-content>
</mat-card>
