<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinhos Aconcagua</title>
  </head>
  <body>
    <section>
      <header>
        <a href=""><img src="../assets/logo.png" class="logo" /></a>
        <button mat-button class="menu-button" routerLink="/catalogo">
          <span>Catálogo</span>
        </button>
        <button mat-button class="menu-button" routerLink="/quemsomos">
          <span>Quem somos</span>
        </button>
        <button mat-button class="menu-button" routerLink="/contato">
          <span>Contato</span>
        </button>
        <button mat-button class="menu-button" routerLink="/cadastrovinhos">
          <span>Cadastro de Vinhos</span>
        </button>
        <button mat-button class="menu-button" routerLink="/cadastroclientes">
          <span>Cadastro de Clientes</span>
        </button>
        <button mat-button class="menu-button" routerLink="/sorteios">
          <span>Sorteios</span>
        </button>
        <button mat-button class="menu-button" routerLink="/sair">
          <span>Sair</span>
        </button>
      </header>
      <router-outlet></router-outlet>
    </section>
  </body>
</html>
