<div class="circle"></div>
<div class="content">
  <div class="textBox">
    <h2>
      Não são apenas vinhos.<br />
      <span>São momentos.</span>
    </h2>
    <p>
      Nossa missão é oferecer vinhos de alta qualidade, gastronômicos e preços
      justos. Temos como foco incansável, criar uma relação duradoura e de
      confiança com todos os nossos clientes.
    </p>
    <a href="#"> Saiba mais</a>
  </div>
  <div class="imgBox">
    <img
      src="../assets/corderoconpieldeloborose.png"
      class="corderoconpieldeloborose"
    />
  </div>
</div>
<ul class="thumb">
  <li>
    <button class="thumbButton" mat-button color="primary">
      <img
        src="../assets/thumb1.png"
        (click)="
          changeStyle('#eb7495', '../assets/corderoconpieldeloborose.png')
        "
      />
    </button>
  </li>
  <li>
    <button class="thumbButton" mat-button color="primary">
      <img
        src="../assets/thumb2.png"
        (click)="
          changeStyle('#EED5B7', '../assets/corderoconpieldelobchardoonnay.png')
        "
      />
    </button>
  </li>
  <li>
    <button class="thumbButton" mat-button color="primary">
      <img
        src="../assets/thumb3.png"
        (click)="
          changeStyle('#cdc1c5', '../assets/corderoconpieldelobomalbec.png')
        "
      />
    </button>
  </li>
</ul>
<ul class="sci">
  <li>
    <a href="#"><img src="../assets/facebook.png" /></a>
  </li>
  <li>
    <a href="#"><img src="../assets/twitter.png" /></a>
  </li>
  <li>
    <a href="#"><img src="../assets/instagram.png" /></a>
  </li>
</ul>
