.contato {
  margin: auto;
  width: auto;
  display: flex;
  flex-direction:row;
  align-items: center;
}
.social a{
  margin: auto;
  font-size: 27px;
  margin: 0.5rem;
}
.social a .bx {
  padding: 5px;
  color: #fff;
  background-color: #000000;
  border-radius: 50%;
}
.social a bx:hover {
  background: var(--main-color);
}
.links{
  margin: 1rem 0 1rem;
}
.links a {
  margin: auto;
  font-size: 1rem;
  font-weight: 500;
  color: var(--second-color);
  padding: 1rem;
}
.contato {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.contato-img {
  width: 1300px;
  margin: auto;
  display: block;
}
