<section class="imgcontato" id="imgcontato">
  <div class="contato-img">
    <img src="../../../assets/imgcontato.jpg" alt="" />
  </div>
</section>

<section class="contato" id="contato">
  <div class="social">
    <a href="#"><img src="../assets/facebook.png" /></a>
    <a href="#"><img src="../assets/twitter.png" /></a>
    <a href="#"><img src="../assets/instagram.png" /></a>
  </div>
  <div class="links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms Of Use</a>
    <a href="#">Our Company</a>
  </div>
</section>
