<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="telaquemsomos" id="telaquemsomos">
      <div class="quemsomos-text">
        <h1>Somos apaixonados por vinhos, assim como você.</h1>
        <h2>Compartilhamos do amor pelo vinho a nossa marca.</h2>
      </div>
      <div class="tela-img">
        <img src="../../../assets/tela-img.jpg" alt="" />
      </div>
    </section>
  </body>
</html>
